@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: "tnum" on, "lnum" on;
}

/* Tabular numbers donde haga falta para alineación de cifras */
.tabular {
  font-variant-numeric: tabular-nums;
}
